<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.nexx.nexxtvtesting.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/flash"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/flash"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".MainActivity"
            android:logo="@drawable/flash"
            android:theme="@style/Theme.Leanback.Browse"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.Leanback"
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"></activity>

        
        <!-- ONLY ADD THE LINES RELATED TO DAILYME IF YOU ARE USING OFFLINE FUNCTIONALITY -->

        <receiver android:name="tv.dailyme.android.core.receiver.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tv.dailyme.android.core.receiver.InstallReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="tv.dailyme.android.util.download.DownloadService" />
        <service android:name="tv.dailyme.android.api.player.audio.AudioService" />
        <service android:name="tv.dailyme.android.core.notification.StopDownloadService" />
        <service android:name="tv.dailyme.android.core.sdcard.ChangeSdCardService" />

    </application>
</manifest>
